{
  "only": "*.js",
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true,
        "targets": {
          "node": 8
        }
      }
    ],
    "flow",
    "react",
    "stage-3"
  ]
}
